.tournamentPage{
  margin-bottom: 2.875em;
}

.tournamentCover{
  background-image: url('../images/d2-BG.png');
  background-size: cover;
  background-position: center;
}

.tournamentCover img{
  filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.25));
}

.tournamentCover h1{
  font-family: Bebas;
  font-size: 110px;
  text-shadow: 1.5px 3px 6px rgba(0, 0, 0, 0.8);
}

.tournamentInfo{
  background-color: #1E1E1E;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.tournamentHeadInfo{
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: solid 1px #707070;
}
.tournamentHeadInfo img:first-child{
  border-right: solid 1px #707070;
}

.greyButton{
  border-radius: 0px;
}

.headInfo span:first-child{
  font-size: 143.75%;
}

.headInfo span:last-child{
  font-size: 85%;
  color: #c7c7c7;
}

.aboutTourn{
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  font-size: 90%;
}

.aboutText{
  color: #c7c7c7;
  justify-content: space-between;
}

.tournamentSlogan{
  font-family:Bebas;
  font-size:250%;
  color:#fff;
}

.modal-open{
    padding-right: 0px !important;
}

.modal-content{
  background-image: url('../images/mobile-loginBG.jpg');
  background-size: cover;
}

.modal-header, .modal-body, .modal-footer{
  background: rgba(20, 20, 20, 0.75);
  border: 0px;
  padding-left: 2em;
}

.modal-footer{
  padding: 0rem 0.75rem 1.75rem;
}

#rulesModal .modal-footer{
  padding: 0.8rem 0.75rem 1.25rem;
}

.modal-header{
  padding-bottom: 0.2em;
}

.modal-body{
    padding-top: 0.4em;
    padding-bottom: 0.6rem;
}

.modal-title{
  font-size: 2.25em;
  font-family: Bebas;
  border-bottom: solid 0.5px #fe002a;
}

.close{
  color: #c7c7c7;
}

.close:hover, .close:focus{
  color: #fff;
  outline: none;
}

.tournInputbox{
  width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fe002a;
  color: #fff;
}

.inputRow .tournInputbox:last-child{
  width: 25%;
  text-align: center;
}

.tournInputbox:focus{
  outline: none;
}

.tournRegform ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8; /* Firefox */
  color: #c7c7c7;
  font-size: 90%;
}

.tournRegform :-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.8;
  color: #c7c7c7;
  font-size: 90%;
}

.tournRegform ::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.8;
  color: #c7c7c7;
  font-size: 90%;
}

.redDot:hover{
  color: #fe002a;
}

@media screen and (max-width: 600px)  {

  .modal-open{
      padding-right: 0px !important;
  }

  .modal-content{
    background-position: center;
  }

  .tournamentCover img{
    margin-top: 2rem;
    width: 75%;
  }

  .tournamentCover h1{
    font-size: 60px;
    margin-bottom: 4rem;
  }

  .tournamentHeadInfo img:first-child{
    border-right: 0;
    width: 40%;
    margin: 0px 0px 1.5rem!important;
    padding: 0px !important;
  }

  .tournamentInfo{
    background-color: #1E1E1E;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
  }

  .headInfo:last-child{
    margin-right: 0px !important;
  }

  .headInfo{
    text-align: center;
    font-size: 85%;
    padding: 0px 1rem !important;
  }

  .headInfoRow{
    margin-bottom: 2rem;
  }

  .tournBtns .formSignupbutton{
    margin: 0px !important;
    margin-right: 0.5rem !important;
  }

  .tournamentSlogan{
    margin-top: 1rem;
    font-size: 230%;
  }

  .aboutTourn{
    padding: 0px;

  }

  .aboutTournHead{
    padding: 0px !important;
    margin: 0px !important;
    justify-content: center !important;
  }

  .breakMobile{
    display: none;
  }

  .aboutText p{
    padding: 0px 3.3rem;
  }

  .aboutTournBody{
    padding-bottom: 1.5rem !important;
  }

  .aboutTournBody .headInfoRow{
    margin-bottom: 0px;
  }

  .aboutTournBody .headInfo{
    margin-bottom: 1.5rem;
    font-size: 90%;
  }

  .discordHead{
    padding-top: 0.5rem !important;
  }

  .steamLogo{
    width: 20px;
    padding-right: 0.1rem;
  }

  .inputRow .tournInputbox:last-child{
    font-size: 85%;
  }

}
