.tournamentPage{
  margin-bottom: 2.875em;
}

.tournamentCover{
  background-image: url('../images/d2-BG.png');
  background-size: cover;
  background-position: center;
}

.tournamentCover img{
  filter: drop-shadow(3px 3px 30px rgba(0, 0, 0, 0.25));
}

.tournamentCover h1{
  font-family: Bebas;
  font-size: 110px;
  text-shadow: 1.5px 3px 6px rgba(0, 0, 0, 0.8);
}

.tournamentInfo{
  background-color: #1E1E1E;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.tournamentHeadInfo{
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-bottom: solid 1px #707070;
}
.tournamentHeadInfo img:first-child{
  border-right: solid 1px #707070;
}

.greyButton{
  border-radius: 0px;
}

.headInfo span:first-child{
  font-size: 143.75%;
}

.headInfo span:last-child{
  font-size: 85%;
  color: #c7c7c7;
}

.aboutTourn{
  padding-left: 6.5rem;
  padding-right: 6.5rem;
  font-size: 90%;
}

.aboutText{
  color: #c7c7c7;
  justify-content: space-between;
}

.tournamentSlogan{
  font-family:Bebas;
  font-size:250%;
  color:#fff;
}

.modal-open{
    padding-right: 0px !important;
}

.modal-content{
  border: 0px;
  background-image: url('../images/mobile-loginBG.jpg');
  background-size: cover;
}

.modal-header, .modal-body{
  background: rgba(20, 20, 20, 0.75);
  border: 0px;
  padding-left: 2em;
}

.modal-footer{
  background: rgba(20, 20, 20, 0.75);
  border: 0px;
  padding: 0rem 0.75rem 1.75rem;
}

#rulesModal .modal-footer{
  padding: 0.8rem 0.75rem 1.25rem;
}

.modal-header{
  padding-bottom: 0.2em;
}

.modal-body{
    padding-top: 0.4em;
    padding-bottom: 0.6rem;
}

.modal-title{
  font-size: 2.25em;
  font-family: Bebas;
  border-bottom: solid 0.5px #fe002a;
}

.close{
  color: #c7c7c7;
}

.close:hover, .close:focus{
  color: #fff;
  outline: none;
}

.tournInputbox{
  width: 60%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fe002a;
  color: #fff;
}

.inputRow .tournInputbox:last-child{
  width: 30%;
  text-align: center;
}

.tournInputbox:focus{
  outline: none;
}

.tournInputbox {
  font-size: 101%;
  text-transform: uppercase;
}

.tournRegform ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 0.8; /* Firefox */
  color: #c7c7c7;
  text-transform: capitalize;
}

.tournRegform :-ms-input-placeholder { /* Internet Explorer 10-11 */
  opacity: 0.8;
  color: #c7c7c7;
}

.tournRegform ::-ms-input-placeholder { /* Microsoft Edge */
  opacity: 0.8;
  color: #c7c7c7;
}

.redDot:hover{
  color: #fe002a;
}

.whatsappHead p{
  margin-bottom: 0em;
  text-align: center;
}


@media screen and (max-width: 600px)  {

  .modal-open{
      padding-right: 0px !important;
  }

  .modal-content{
    background-position: center;
  }

  .tournamentCover img{
    margin-top: 2rem;
    width: 75%;
  }

  .tournamentCover h1{
    font-size: 60px;
    margin-bottom: 4rem;
  }

  .tournamentHeadInfo img:first-child{
    border-right: 0;
    width: 40%;
    margin: 0px 0px 1.5rem!important;
    padding: 0px !important;
  }

  .tournamentInfo{
    background-color: #1E1E1E;
    padding-top: 1.5rem;
    padding-bottom: 4rem;
  }

  .headInfo:last-child{
    margin-right: 0px !important;
  }

  .headInfo{
    text-align: center;
    font-size: 85%;
    padding: 0px 1rem !important;
  }

  .headInfoRow{
    margin-bottom: 2rem;
  }

  .tournBtns .formSignupbutton{
    margin: 0px !important;
    margin-right: 0.5rem !important;
  }

  .tournamentSlogan{
    margin-top: 1rem;
    font-size: 230%;
  }

  .aboutTourn{
    padding: 0px;

  }

  .aboutTournHead{
    padding: 0px !important;
    margin: 0px !important;
    justify-content: center !important;
  }

  .breakMobile{
    display: none;
  }

  .aboutText p{
    padding: 0px 3.3rem;
  }

  .aboutTournBody{
    padding-bottom: 1.5rem !important;
  }

  .aboutTournBody .headInfoRow{
    margin-bottom: 0px;
  }

  .aboutTournBody .headInfo{
    margin-bottom: 1.5rem;
    font-size: 90%;
  }

  .whatsappHead{
    padding-top: 0.5rem !important;
  }

  .steamLogo{
    width: 20px;
    padding-right: 0.1rem;
  }

  .inputRow .tournInputbox:last-child{
    font-size: 85%;
  }

}

/*My Tournaments Section*/

.myTournPage{
  background-image: url('../images/myTournBG.png');
  background-position: top;
  background-size: cover;
  padding: 2.75rem 12rem 6rem;
  margin-bottom: 2.875em;
}

.myTournPage h1{
  font-family: Bebas;
}

.myTournPage h2{
  font-family: Bebas;
  padding-bottom: 1rem;
}

.myTournPage h2 a{
  font-family: Bebas;
}

.innerTourn{
  background: rgba(20, 20, 20, 0.75);
  box-shadow: 3px 3px 33px rgba(0,0,0,0.6);
  padding-bottom: 5rem !important;
}

.myTournBody{
  border-bottom: 1px dashed #777;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.myTournBody:last-child{
  border-bottom: 0px;
}

.tournIcon{
  background-color: #000000;
  padding: 0.75rem;
  border: 3px solid #fff;
}

.myTournPage .headInfo{
  font-size: 85%;
  margin-right: 2rem;
}

.card{
  display: block;
  background: none !important;
  border: none;
  border-radius: 0px;
}

.card-body .headInfo{
  margin: 0px 4rem;
}

.howToJoin{
  font-size: 90%;
}

@media screen and (max-width: 600px) {

    .myTournPage{
      padding: 0em;
    }

    .innerTourn{
      padding-top: 2.5rem !important;
    }

    .myTournPage .tournBtns{
      margin: 0px !important;
      padding: 0px !important;
    }

    .myTournBody{
      padding-bottom: 2rem;
      margin-bottom: 2rem;
    }

    .myTournPage .headInfoRow{
      padding: 0rem 3rem !important;
      text-align: center;
    }

    .headInfoRow .headInfo{
      margin-right: 0.5rem;
    }

    .headInfoRow .row{
      justify-content: center;
    }

    .tournamentHeadInfo .headInfoRow{
      padding: 0em 1rem;
    }

    .yourTeam{
      padding-top: 1rem !important;
    }

    .myTournBody .formSignupbutton{
      margin: 0px !important;
      margin-bottom: 1rem !important;
    }

    .myTournPage h2{
      padding-top: 1rem;
    }

    .tournIcon{
      margin: 0rem 1rem;
    }

    .card-body .headInfo:first-child{
      margin-top: 0px;
    }

    .card-body .headInfo{
      margin-top: 1.5rem;
    }

    .card-body .headInfo:last-child{
      margin-right: 4rem !important;
    }

    .howToJoin{
      text-align: center;
    }
}
/*End My Tournaments Section*/

/* Tournaments Brackets */
.tournBrackets *::before, .tournBrackets *::after {
  box-sizing: border-box;
}

.tournBrackets .container {
  width: 90%;
  min-width: 18em;
  margin: 20px auto;
}

.tournament-bracket {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}


@media (min-width: 38em) {
  .tournament-bracket {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
  }
}
.tournament-bracket__round {
  display: block;
  margin-left: -3px;
  -webkit-box-flex: 1;
          flex: 1;
}
.tournament-bracket__round-title {
  color: #9e9e9e;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}
.tournament-bracket__list {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-flow: row wrap;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 100%;
  border-bottom: 1px dashed #e5e5e5;
  padding-bottom: 2em;
  margin-bottom: 2em;
  -webkit-transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  padding-inline-start:0px;
}
@media (max-width: 24em) {
  .tournament-bracket__list {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__list {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
}
.tournament-bracket__round:last-child .tournament-bracket__list {
  border: 0;
}
.tournament-bracket__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
          flex: 0 1 auto;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: start;
          align-items: flex-start;
  position: relative;
  padding: 2% 0;
  width: 48%;
  -webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
.tournament-bracket__item:nth-child(odd) {
  margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
  margin-left: 2%;
}
.tournament-bracket__item::after {
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
@media (max-width: 38em) {
  .tournament-bracket__item {
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__item {
    padding: 0.5em 1em;
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin: 0;
  }
  .tournament-bracket__item::after {
    position: absolute;
    right: 0;
    content: '';
    display: block;
    width: 1em;
    height: 45%;
    border-right: 2px solid #9e9e9e;
  }
  .tournament-bracket__item:nth-child(odd)::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(odd)::after {
    border-top-right-radius: 0.6em;
  }
  .tournament-bracket__item:nth-child(even)::after {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item:nth-child(even)::after {
    border-bottom-right-radius: 0.6em;
  }
  .tournament-bracket__round:first-child .tournament-bracket__item {
    padding-left: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item {
    padding-right: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item::after {
    display: none;
  }
  .tournament-bracket__round:nth-last-child(2) .tournament-bracket__item::after {
    border-radius: 0;
    border-right: 0;
  }
}
@media (min-width: 72em) {
  .tournament-bracket__item {
    padding: 0.5em 1.5em;
  }
  .tournament-bracket__item::after {
    width: 1.5em;
  }
}
.tournament-bracket__match {
  display: -webkit-box;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 0.1em;
  box-shadow: 0 2px 0 0 #e5e5e5;
  outline: none;
  cursor: pointer;
  -webkit-transition: padding 0.2s ease-in-out, border 0.2s linear;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
}
.tournament-bracket__match:focus {
  border-color: #2196F3;
}
.tournament-bracket__match::before,
.tournament-bracket__match::after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 24em) {
  .tournament-bracket__match {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
    position: absolute;
    left: 0;
    z-index: 1;
    content: '';
    display: block;
    width: 1em;
    height: 10%;
    border-left: 2px solid #9e9e9e;
  }
  .tournament-bracket__match::before {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::before {
    border-bottom-left-radius: 0.6em;
  }
  .tournament-bracket__match::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match::after {
    border-top-left-radius: 0.6em;
  }
}
@media (min-width: 72em) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
    width: 1.5em;
  }
  .tournament-bracket__match::before {
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  .tournament-bracket__match::after {
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
}
.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
  border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match::before,
.tournament-bracket__round:first-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__content {
  display: -webkit-box;
  display: flex;
}
.tournament-bracket__content::after {
  content: ':';
  width: 1em;
  text-align: center;
  padding: 0.2em 0.1em;
}
@media (min-width: 38em) {
  .tournament-bracket__content::after {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child {
  width: 50%;
  -webkit-box-ordinal-group: 1;
          order: 0;
  text-align: right;
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:first-child {
    -webkit-box-align: end;
            align-items: flex-end;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
  -webkit-box-ordinal-group: 3;
          order: 2;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
@media (min-width: 24em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
    -webkit-box-ordinal-group: 1;
            order: 0;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__country {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
            align-items: flex-end;
  }
}
.tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
  -webkit-box-ordinal-group: 1;
          order: 0;
}
@media (min-width: 24em) {
  .tournament-bracket__content .tournament-bracket__team:first-child .tournament-bracket__score {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}
.tournament-bracket__content .tournament-bracket__team:last-child {
  width: 50%;
  -webkit-box-ordinal-group: 3;
          order: 2;
  text-align: left;
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:last-child {
    -webkit-box-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__country {
    -webkit-box-align: start;
            align-items: flex-start;
  }
}
.tournament-bracket__content .tournament-bracket__team:last-child .tournament-bracket__code {
  -webkit-box-ordinal-group: 2;
          order: 1;
}
.tournament-bracket__table {
  width: 100%;
}
.tournament-bracket__caption {
  font-size: 0.8rem;
  color: #BDBDBD;
  font-weight: 300;
  padding-bottom: 0.75em;
}
.tournament-bracket__team {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
@media (min-width: 24em) {
  .tournament-bracket__team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }
}
.tournament-bracket__country {
  font-size: 0.95rem;
  display: -webkit-box;
  display: flex;
  margin-top: 0.5em;
  -webkit-box-align: center;
          align-items: center;
}
@media (max-width: 24em) {
  .tournament-bracket__country {
    margin-top: 0;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__country {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .tournament-bracket__country .tournament-bracket__code {
    margin-top: 0.2em;
  }
}
.tournament-bracket__code {
  padding: 0 0.5em;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  text-decoration: none;
  cursor: help;
  -webkit-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}
@media (max-width: 24em) {
  .tournament-bracket__code {
    padding: 0 0.25em;
  }
}
@media (min-width: 38em) and (max-width: 52em) {
  .tournament-bracket__code {
    padding: 0;
  }
}
.tournament-bracket__score {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.tournament-bracket__team:first-child .tournament-bracket__score {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  padding-left: 0.75em;
}
.tournament-bracket__team:last-child .tournament-bracket__score {
  padding-right: 0.75em;
}
.tournament-bracket__number {
  display: inline-block;
  padding: 0.2em 0.4em 0.2em;
  border-bottom: 0.075em solid transparent;
  font-size: 0.95rem;
  background-color: #F5F5F5;
  border-color: #dddddd;
}
.tournament-bracket__team--winner .tournament-bracket__number {
  background-color: #FFF176;
  border-color: #fad674;
}
.tournament-bracket__medal {
  padding: 0 0.5em;
}
.tournament-bracket__medal--gold {
  color: #FFD700;
}
.tournament-bracket__medal--silver {
  color: #C0C0C0;
}
.tournament-bracket__medal--bronze {
  color: #CD7F32;
}
/*End Tournaments Brackets*/
